@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Finlandica&family=Gulzar&family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;900&family=Poppins:wght@400;500;600&family=Rancho&family=Roboto&family=Shadows+Into+Light&family=Ubuntu:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #4DB5FF;
}


h1,h2,h3,h4,h5 {
  font-weight: 500;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

header {
  min-height: 100%;

}

a {
  color: #fff;
}